@{
    ViewBag.Title = "Contacto";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>

    <div class="card text-center">
        <div class="card-header">
            Informacion de Contacto
        </div>
        <div class="card-body">
            <p class="card-text">
                <address>
                    Punratenas<br />
                    Golfito<br />
                    Rio Claro<br />
                </address>

                <address>
                    <strong>Correo:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
                </address>
            </p>            
        </div>
    </div>
</main>